In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("./data.csv")

In [7]:
df.to_excel("part1.xlsx")

In [49]:
df2 = pd.read_excel("tm.xlsx")

   Unnamed: 0 Unnamed: 1                                         Unnamed: 2
0         NaN        NaN                                                NaN
1        Date       Date                                             Events
2      -35000     -35000  Earliest proto-writing -  notational signs, us...
3      -40000     -34000  oldest oral traditions - Gunditjmara in Austra...
4       -3500      -3500  Sumerian Cuneiform- Earliest known writing sys...
..        ...        ...                                                ...
69        115        115                        New testament of the bible
70        200        200  Ayādgār i Zarërān , meaning "Memorial of Zarër...
71        216        227  Mani -  an Iranian prophet and the founder of ...
72        500        570  Yativṛṣabha - a mathematician and Jain monk.He...
73        658        680  Cædmon's Hymn - a short Old English poem attri...

[74 rows x 3 columns]

In [50]:
df2.columns = ["start","end","name"]

In [51]:
df2["explanation"] = ""

In [52]:
df2.columns

Index(['start', 'end', 'name', 'explanation'], dtype='object')

In [53]:
df2

,start,end,name,explanation
0,NaN,NaN,NaN,
1,Date,Date,Events,
2,-35000,-35000,"Earliest proto-writing - notational signs, us...",
3,-40000,-34000,oldest oral traditions - Gunditjmara in Austra...,
4,-3500,-3500,Sumerian Cuneiform- Earliest known writing sys...,
...,...,...,...,...
69,115,115,New testament of the bible,
70,200,200,"Ayādgār i Zarërān , meaning ""Memorial of Zarër...",
71,216,227,Mani - an Iranian prophet and the founder of ...,
72,500,570,Yativṛṣabha - a mathematician and Jain monk.He...,
73,658,680,Cædmon's Hymn - a short Old English poem attri...,

In [54]:
df2 = df2.drop([df2.index[0],df2.index[1]])

In [55]:
df2 = df2.reset_index()

In [56]:
df2 = df2.drop("index",axis=1)

In [62]:
str(df2["name"][1].split("-")[1:])

'[]'

In [58]:
len(df2)

72

In [60]:
for i in range(len(df2)):
    l = df2["name"][i].split("-")
    df2["name"][i] = l[0]
    if len(l)>1:
        df2["explanation"][i] = l[1:]

/tmp/ipykernel_8637/3636534770.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df2["name"][i] = l[0]
/tmp/ipykernel_8637/3636534770.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df2["explanation"][i] = l[1:]

In [42]:
"ali".split("p")

['ali']

In [61]:
df2

,start,end,name,explanation
0,-35000,-35000,Earliest proto,"[writing , notational signs, used next to im..."
1,-40000,-34000,oldest oral traditions,[ Gunditjmara in Australia ]
2,-3500,-3500,Sumerian Cuneiform,[ Earliest known writing system ]
3,-3400,-3100,Invention of writing in Mesopotamia,
4,-3250,-3250,Invention of writing in Egypt,
...,...,...,...,...
67,115,115,New testament of the bible,
68,200,200,"Ayādgār i Zarërān , meaning ""Memorial of Zarër...",
69,216,227,Mani,[ an Iranian prophet and the founder of Manic...
70,500,570,Yativṛṣabha,[ a mathematician and Jain monk.He lived and w...
71,658,680,Cædmon's Hymn,[ a short Old English poem attributed to Cædmo...

In [65]:
df2.to_excel("part0.xlsx")

In [90]:
df3 = pd.read_excel("./prob.xlsx")

In [91]:
df3

,name,start,end,explanation
0,Beowulf,1000-02-01 00:00:00,1000-02-01 00:00:00,Epic poem composed by anonymous Anglo-Saxon po...
1,The Battle of Hastings,1066-10-14 00:00:00,1066-10-14 00:00:00,"The Battle of Hastings, leading to the Norman ..."
2,Pierre Abelard,1079-12-01 00:00:00,1142-12-01 00:00:00,NaN
3,William of Malmesbury,1080-09-16 01:01:27,1143-12-01 00:00:00,Historian and hagiographer.
4,Domesday Book completed,1086-04-16 23:39:35,1086-04-16 23:39:35,A record of the great inquest or survey of the...
...,...,...,...,...
269,The Satanic Verses controversy,1989-10-26 15:55:24,1989-10-26 15:55:24,"Rushdie's novel The Satanic Verses, was first ..."
270,Claudia Rankine's Don’t Let Me Be Lonely,2004-01-11 00:33:53,2004-01-11 00:33:53,Written in Rankine's American Lyric form. A co...
271,First Kindle e-book reader released,2007-11-19 02:22:19,2007-11-19 02:22:19,The first iteration of the Amazon Kindle e-rea...
272,Sarah Howe's Loop of Jade wins 2015 TS Eliot P...,2016-01-11 00:33:53,2016-01-11 00:33:53,"Loop of Jade, Sarah Howe's debut collection, w..."
273,Bob Dylan receives the Nobel Prize in Literatu...,2016-10-13 16:18:49,2016-10-13 16:18:49,The Nobel Prize in Literature 2016 was awarded...

In [74]:
df3["start"][0].split("")[0]

'1000'

In [92]:
for i in range(len(df3)):
    df3["start"][i] = str(df3["start"][i]).split("-")[0]
    df3["end"][i] = str(df3["end"][i]).split("-")[0]

/tmp/ipykernel_8637/794540086.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3["start"][i] = str(df3["start"][i]).split("-")[0]
/tmp/ipykernel_8637/794540086.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df3["end"][i] = str(df3["end"][i]).split("-")[0]

In [89]:
df3.loc([:,3])

SyntaxError: invalid syntax (3455905502.py, line 1)

In [78]:
df3.to_excel("final.xlsx")

In [93]:
df3

,name,start,end,explanation
0,Beowulf,1000,1000,Epic poem composed by anonymous Anglo-Saxon po...
1,The Battle of Hastings,1066,1066,"The Battle of Hastings, leading to the Norman ..."
2,Pierre Abelard,1079,1142,NaN
3,William of Malmesbury,1080,1143,Historian and hagiographer.
4,Domesday Book completed,1086,1086,A record of the great inquest or survey of the...
...,...,...,...,...
269,The Satanic Verses controversy,1989,1989,"Rushdie's novel The Satanic Verses, was first ..."
270,Claudia Rankine's Don’t Let Me Be Lonely,2004,2004,Written in Rankine's American Lyric form. A co...
271,First Kindle e-book reader released,2007,2007,The first iteration of the Amazon Kindle e-rea...
272,Sarah Howe's Loop of Jade wins 2015 TS Eliot P...,2016,2016,"Loop of Jade, Sarah Howe's debut collection, w..."
273,Bob Dylan receives the Nobel Prize in Literatu...,2016,2016,The Nobel Prize in Literature 2016 was awarded...